.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.projectImages {
  width: 350px;
  height: 300px;
  border: solid;
  border-radius: 5px;
  border-color: black;
}



/* the following styles are for the other project */
.character-form {
display: flex;
flex-direction: column;
justify-content:center;
width: 30%;
border: solid;
}

.character-questions {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.character-start-button {
  width:fit-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* everything as follows is for the round1 page*/
.round1 {
  background-color: rgb(54, 53, 53);
  
}

.round1Image {

  width: 54%;
  position: absolute;
  display: flex;
  justify-content: center;

}

.round1form {
  position: relative;
  background-color: white;
  width:300px;
  opacity: 0.5;
}

.about_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(73, 129, 167);

}

.profileImage {
  width: 20%; 
  height: 30%;
}

.about_text {
  font-size: x-large;
  width: 30%;
  display:flex;
  flex-direction: column;
  align-items: center;
}


.workPage {
  background-color: rgb(73, 129, 167);

}