/* for about component: */



.my-navbar {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  align-content: center;
  background-color: rgb(93, 93, 93);
  color: white;
}

.nav-title {
  font-size: large;
  font-weight: 800;
  margin-left: 10%;
}

.nav-title:hover {
  font-size: larger;
}

.nav-navs {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

.nav-item {
  margin-left: 60px;
  margin-right:60px
}

.nav-item:hover {
  font-size: larger;
  font-weight: bold;
}



.about_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  background-color: rgb(93, 93, 93);
  
  /* width: 100vw; */
  min-height: 100vh;
}

.about-hello {
  color: white;
  margin-top: 1%;
  margin-left: 5%;
  width: 30%;
  margin-bottom: 3%;
}

.about-pic-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profileImage {
  width: 50%; 
  height: auto;
  margin-left: 10%;
  border-radius: 18px;
  border-width: 4px;
  border-style: groove;
  border-color: white;
}

.about_text {
  font-size: x-large;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
}

.about_page_text p {
  text-align: center;
}
.about_page_text {
  width: 60%;
}

.about-writing {
  display:flex;
  justify-content: center;
  text-align: center;
}

/* the following are for the work page */
.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

.workPage {
  background-color: rgb(93, 93, 93);
  width: 100vw;
  min-height: 100vh;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: white;
  position: relative;
}

.projectImages {
  width: 350px;
  height: 300px;
  border-radius: 15px;
  border-color: white;
}


.work-link {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 36%;
  display: none;
  color: white;
}

.work-git {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 56%;
  display: none;
}

.projectImages:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 5px 5px black;
  width: 360px;
  height: 310px;
}

.item:hover .work-git{
  display:block;
}

.item:hover .work-link {
  display:block;
}


/* For the connect component */
.connect-page {
  background-color: rgb(93, 93, 93);
  width: 100vw;
  min-height: 100vh;
}

.connect-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-block: 70px;

}

.cnt-form-items {
  width:500px
}

.email-link {
  text-decoration: none;
  color: white;
  margin: 30px;
}

.connect-links {
  display: flex;
  flex-direction: row;
}

.email-img {
  width: 40px;
  height: 40px;
}
.email-img:hover {
  opacity: 0.4;
}

/* for resume component */

.resume-page {
  background-color: rgb(93, 93, 93);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.resume {
  margin: 20px;
  border-radius: 15px;
  border: solid;
  border-color: black;
  box-shadow: 9px 7px 22px 8px;
  width: 70%
}

.resume:hover{
  opacity:0.6;
}


.resume_button {
  font-size: 1em;
  background: rgb(57, 104, 134);
  border: 0.25rem solid black;
  padding: 0.2em 0.5em;
  margin-top: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;  
}

.resume-btn-word {
  color: black;
  font-size: large;
  font-weight: 600;
}

.resume-btn-word:hover {
  text-decoration: none;
  color: black;
}

.resume_button:hover {
  color: black;
}

.resume_button::after {
  content: "";
  background: #fdfdef;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

.resume_button[className^="slide"]::after {
  transition: all 0.35s;
}

.resume_button[className^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

.resume_button.slide_from_top::after {
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
}

a {
  text-decoration: none !important;
}

@media (max-width:1150px) {
  .about_page {
    /* justify-content: center; */

  }
  .about-pic-article {
    flex-direction: column;
  }
  .about-hello {
    /* border: solid black 5px; */
  }
  .profileImage {
    /* margin:auto;
    margin-left: 0; */
  }
  .resume {
    width: 100%
  }
}

@media (max-width:850px) {
  .my-navbar {
    /* border: solid black 5px; */
    flex-direction: column;
  }
  .nav-title {
    margin: auto;
  }
  .nav-navs {
    margin: auto;
    /* justify-content: space-between;    */
    width: 80%;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
  }
  .nav-item {
    margin: auto;
    /* padding: 50px; */
    width: 10%;
  }
}

@media (max-width:415px) {
  .my-navbar {
    /* border: solid black 5px; */
    flex-direction: column; 
    height: 30%;
  }
  .my-navbar > p {
    font-size: x-large;
  }
  /* .my-navbar > p: hover {
    font-size: ;
  } */
  .nav-title {
    margin: 5%;
    display:flex;
    justify-content: center;
  }
  .nav-navs {
    display:flex;
    /* margin: 0; */
     /* justify-content: space-between;     */
    /* width: 80%; */
    flex-wrap:wrap;
    flex-direction: column;
    /* border: solid rgb(215, 20, 20) 5px; */
    
  }
  .nav-item {
    font-size:large;

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projectImages {
    width: 300px;
    height: 250px;
  }
  .projectImages:hover {
    opacity: 0.7;
  box-shadow: 5px 5px 5px 5px black;
  width: 300px;
  height: 250px;
  }
  .connect-links{
    flex-direction: column;
  }
} 




